@use '../../../assets/scss/colors' as *;

mat-toolbar.header {
  box-shadow: 0 0 10px #bbb;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;

  & a.toolbar-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: inherit;
    
    &:hover {
      background-color: $table-border-color;
      border-radius: 5px;
    }
  }
 }