<p>
  <mat-toolbar class="justify-content-between header d-none d-xl-flex" color="primary">
    <div>
      <span *ngFor="let item of mainMenu" class="toolbar-link--wrapper">
        <button [routerLink]="item.link" mat-icon-button class="toolbar-link" [attr.aria-label]="item.title">
          <mat-icon>{{ item.icon }}</mat-icon>
        </button>
        <span class="d-none d-md-inline">
          <a mat-button class="toolbar-link" [routerLink]="item.link">{{ item.title }}</a>
        </span>
      </span>
    </div>

    <div *ngIf="!(user | async)" class="toolbar-link--wrapper">
      <button mat-icon-button aria-label="Login" routerLink="/login">
        <mat-icon>person</mat-icon>
      </button>
      <span class="d-none d-sm-inline">
        <a mat-button class="toolbar-link" routerLink="/login">Login</a>
      </span>
    </div>
    <div *ngIf="user | async" class="toolbar-link--wrapper">
      <button mat-icon-button aria-label="Logout" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
      </button>
      <span class="d-none d-sm-inline">
        <button mat-button class="toolbar-link" (click)="onLogout()">Logout</button>
      </span>
    </div>
  </mat-toolbar>
  <mat-accordion class="d-xl-none">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>menu</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Main menu
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p class="toolbar-link--wrapper" *ngFor="let item of mainMenu">
        <button [routerLink]="item.link" mat-icon-button class="toolbar-link" [attr.aria-label]="item.title">
          <mat-icon>{{ item.icon }}</mat-icon>
        </button>
        <span>
          <a mat-button class="toolbar-link" [routerLink]="item.link">{{ item.title }}</a>
        </span>
      </p>
      <div *ngIf="!(user | async)" class="toolbar-link--wrapper">
        <button mat-icon-button aria-label="Login" routerLink="/login">
          <mat-icon>person</mat-icon>
        </button>
        <span>
          <a mat-button class="toolbar-link" routerLink="/login">Login</a>
        </span>
      </div>
      <div *ngIf="user | async" class="toolbar-link--wrapper">
        <button mat-icon-button aria-label="Logout" (click)="onLogout()">
          <mat-icon>logout</mat-icon>
        </button>
        <span>
          <button mat-button class="toolbar-link" (click)="onLogout()">Logout</button>
        </span>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</p>