@use '../../../assets/scss/colors' as *;

mat-toolbar.header {
  box-shadow: 0 0 10px #bbb;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  background-color: lighten($nav-color, 10%);

  & .toolbar-link {
    text-decoration: none;
    font-size: inherit;

    &:hover {
      color: inherit;
    }
    
    
  &--wrapper {
    color: #fff;
    padding: 10px;

    &:hover {
      background-color: darken($nav-color, 10%);
      border-radius: 10px;
      color: $name-hover-color;
    }
  }
 }
}