<p>
  <mat-toolbar class="justify-content-between header" color="primary">
    <div>
      <button routerLink="/" mat-icon-button class="example-icon" aria-label="Home page">
        <mat-icon>home</mat-icon>
      </button>
      <span class="d-none d-sm-inline">
        <a mat-button class="toolbar-link" routerLink="/">Home Page</a>
      </span>
      <button routerLink="/all-artists" mat-icon-button class="example-icon" aria-label="All artists">
        <mat-icon>
          queue_music
        </mat-icon>
      </button>
      <span class="d-none d-sm-inline">
        <a mat-button class="toolbar-link" routerLink="/all-artists">All artists</a>
      </span>
    </div>

    <div *ngIf="!(user | async)">
      <button mat-icon-button aria-label="Login" routerLink="/login">
        <mat-icon>person</mat-icon>
      </button>
      <span>
        <a mat-button class="toolbar-link" routerLink="/login">Login</a>
      </span>
    </div>
    <div *ngIf="user | async">
      <button mat-icon-button aria-label="Logout" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
      </button>
      <span>
        <button mat-button class="toolbar-link" (click)="onLogout()">Logout</button>
      </span>
    </div>
  </mat-toolbar>
</p>