<mat-dialog-content>
  <form [formGroup]="form">
    <div *ngFor="let question of questions">
      <app-form-input *ngIf="question.key !== 'image'" [form]="form" [question]="question"></app-form-input>
      <fieldset *ngIf="question.key === 'image'">
        <legend>Images</legend>
        <div class="input-group" *ngFor="let row of question.value; let i = index">
          <div *ngFor="let question of row">
            <app-form-input *ngIf="formImageArray[i]"   [form]="formImageArray[i]" [question]="question"></app-form-input>
          
          </div></div>
      </fieldset>
    </div>
  </form>
  <form [formGroup]="formInfo">
    <h2>Additional Info</h2>
    <app-form-input [form]="formInfo" [question]="questionsInfo[0]"></app-form-input>
    <app-form-input [form]="formInfo" [question]="questionsInfo[1]"></app-form-input>

    <fieldset>
      <legend>Similar artists</legend>
      <div class="input-group" *ngFor="let row of questionsInfo[2].value; let i = index">
        <div *ngFor="let question of row">
          <app-form-input *ngIf="formSimilarArray[i]"   [form]="formSimilarArray[i]" [question]="question"></app-form-input>
        
        </div></div>
    </fieldset>
    <fieldset>
      <legend>Tags</legend>
      <div class="input-group" *ngFor="let row of questionsInfo[3].value; let i = index">
        <div *ngFor="let question of row">
          <app-form-input *ngIf="formTagsArray[i]"   [form]="formTagsArray[i]" [question]="question"></app-form-input>
        </div></div>
    </fieldset>
  </form>
</mat-dialog-content>
