@use '../../../assets/scss/_colors' as *;

.inner-link {
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: $name-hover-color;
  }
}

td.mat-cell.cdk-cell {
  padding: 10px;
  border: 1px solid $table-border-color;
}

th.mat-header-cell.cdk-header-cell {
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  border-right: 1px solid $table-border-color;
}

.mbid {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
    color: $link-color;
    cursor: help;
  }
}

.search-field {
  margin-left: 3rem;
}

[mat-table] {
  min-width: 100%;
}