<mat-form-field class="search-field">
  <mat-label>Search by:</mat-label>
  <mat-select [(ngModel)]="currentFilterKey">
    <mat-option value="name">{{ type === 'artist' ? 'name' : 'title' }}</mat-option>
    <mat-option value="mbid">mbid</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="search-field">
  <mat-label>Search {{ type }}</mat-label>
  <input matInput type="text" (keyup)="applyFilter($event)" placeholder="Search...">
</mat-form-field>

<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" class="table">
    <ng-container *ngFor="let col of columns" [ngSwitch]="col.type" [matColumnDef]="col.key">

      <th mat-header-cell *matHeaderCellDef [ngSwitch]="col.type">
        <div *ngSwitchCase="'mbid'">
          <mat-icon (click)="sortRows(col.key, col.type || '')">swap_vert</mat-icon>
          <a href="https://musicbrainz.org/doc/MusicBrainz_Identifier" target="_blank" class="mbid">Mbid</a>
        </div>
        <div *ngSwitchDefault>
          <mat-icon *ngIf="col.type !== 'actions'" (click)="sortRows(col.key, col.type || '')">swap_vert</mat-icon>
          {{ col.title }}
        </div>
      </th>

      <td mat-cell *matCellDef="let item" [ngSwitch]="col.type"
        [class.inner-link]="col.type === 'inner-link' && type === 'artist' || availableAlbums.includes(item[col.key])">
        <div *ngSwitchCase="'number'">{{item[col.key] | number }}</div>
        <div *ngSwitchCase="'inner-link'"
          [routerLink]="type === 'artist' || availableAlbums.includes(item[col.key]) ? '/' + type + '/' + item[col.key] : './' ">
          {{item[col.key] }}
        </div>
        <div *ngSwitchCase="'outer-link'" [innerHTML]="item[col.key] | link"></div>
        <div *ngSwitchCase="'artist'">{{ item[col.key]['name'] }}</div>
        <div *ngSwitchCase="'boolean'" [textContent]="item[col.key] == '0' ? 'No': 'Yes'"></div>
        <div *ngSwitchCase="'actions'">
          <div *ngIf="admin; else noAdmin" class="btn-group">
            <button title="Edit" mat-raised-button color="primary" aria-label="edit" (click)="onEdit(item)">
              <mat-icon>edit</mat-icon>
            </button>
            <button title="Delete" mat-raised-button color="warn" aria-label="delete" (click)="onDelete(item)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
          <ng-template #noAdmin>(only admins)</ng-template>
        </div>
        <div *ngSwitchDefault [title]="item[col.key] | deep">{{item[col.key] | deep | textoverflow:60 }}</div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
  </table>
</div>
<mat-paginator class="mat-elevation-z8" [pageSize]="10" [pageSizeOptions]="pageSizes" showFirstLastButtons>
</mat-paginator>