/* You can add global styles to this file, and also import other style files */
@use 'assets/scss/colors' as *;

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: $main-background;
}

.inline {
  @media screen and (min-width: 500px){
    display: inline-block;
  }
  margin-right: 20px;
}

.outer-link {
  vertical-align: sub;
  text-decoration: none;
}

sub.small {
  font-size: 0.5em;
}

.table-caption {
  margin: 2em;
  text-align: center;
}

.long-info {
  text-align: justify;
  letter-spacing: 0.01em;
  line-height: 1.6em;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}