<mat-dialog-content>
  <h2>Album Info</h2>
  <label for="name">Title</label>
  <input name="name" type="text" class="form-control" [(ngModel)]="name" required
    pattern="^[ A-Űa-ű0-9,$\-\.!?+'&@#]{1,30}$">
  <div *ngIf="!isNameValid()" class="error-message">The title of the album must be between 1 and 30 characters.</div>
  <form [formGroup]="formInfo">
    <app-form-input [form]="formInfo" [question]="questionsInfo[0]"></app-form-input>
    <app-form-input [form]="formInfo" [question]="questionsInfo[1]"></app-form-input>
    <fieldset class="mt-3">
      <mat-divider></mat-divider>
      <legend>
        Tags
        <button mat-mini-fab class="ms-3" color="accent" (click)="addTag()">
          <mat-icon>add</mat-icon>
        </button>
      </legend>
      <div class="input-group" *ngFor="let row of questionsInfo[2].value; let i = index">
        <div *ngFor="let question of row">
          <app-form-input *ngIf="formTagsArray[i]" [form]="formTagsArray[i]" [question]="question"></app-form-input>
        </div>
        <button mat-mini-fab class="align-self-end" color="warn" (click)="deleteTag(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </fieldset>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button [disabled]="!formInfo.valid" mat-raised-button
    [mat-dialog-close]="{ formValue: formInfo.value, _id: albumInfo._id }" color="primary" (click)="saveAlbum()">Save
    Changes</button>
</mat-dialog-actions>