<div *ngIf="tag; else noTag" class="container">
  <div *ngIf="admin" class="p-3">
    <button mat-raised-button color="primary">
      <mat-icon>edit</mat-icon>
      Edit tag
    </button>
  </div>
  <h1>
    <small class="text-muted">Tag:</small>
    {{ tag.name | titlecase }}
  </h1>
  <h2>
    <small class="text-muted">Total:</small>
    {{ tag.total | number }}
  </h2>
  <h2>
    <small class="text-muted">Reach:</small>
    {{ tag.reach | number }}
  </h2>
  <h2>Summary:</h2>
  <p class="long-info" [innerHTML]="tag.wiki.content"></p>

</div>
<ng-template #noTag>
  <h1>No tag info to show.</h1>
  <div *ngIf="admin" class="p-3">
    <button mat-raised-button color="accent">
      <mat-icon>add</mat-icon>
      Add tag info
    </button>
  </div>
</ng-template>
