$name-hover-color:  #bbb;
$table-border-color: rgba(0, 0, 0, .12);
$link-color: #0d6efd;
$link-color-secondary: #ed143d;
$main-background: #ffecb3;
$nav-color: #212529;
$card-color: #191970;
$card-text: #d2dfcc;
$button-color: #ffca2c;